.input {
    width: 50%;
    display: block;
}

.msg-error {
    background-color: rgb(241, 25, 25);
    display: block;
    width: 500px;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}